
<%- include("partials/header"); -%>

<!---------------- Blogs ---------------->

<section class="blogSection" >
    <div class="blogs" >
        <% for(let eachBlog of defaultBlogs){ %>
            <h3><%= eachBlog.title %></h3>
            <p><%= eachBlog.content %></p>
            <br>
        <% };  %>
        <% for(let eachBlog of newBlogs){ %>
            <h3><%= eachBlog.title %></h3>
            <% if(eachBlog.content.length>150){ %>

                <p><%= eachBlog.content.substring(0 ,100) %> ... <a href="/blogs/<%= eachBlog._id %>" >Read more</a></p>
                
            <% }else{ %>
                <p><%= eachBlog.content %></p>
            <% } %>
            <br>
        <% };  %>
    </div>
</section>


<%- include("partials/footer"); -%>